{%- extends "layout.jinja" -%}
{%- block title -%}
Flash Cards Pet Project
{%- endblock -%}
{%- block description -%}
Карточки для запоминания - пет-проект для освоения blacksheep framework
{%- endblock -%}
{%- block css -%}
<link rel="stylesheet" href="/styles/public.css" />
{%- endblock -%}
{%- block body -%}

<header class="masthead bg-primary text-white text-center">
    <div class="container d-flex align-items-center flex-column">

        <!-- Masthead Avatar Image -->
        <img class="masthead-avatar mb-5" src="images/blacksheep.png" alt="BlackSheep">

        <!-- Masthead Heading -->
        <h1 class="masthead-heading mb-0">флеш-карточки для запоминания слов, терминов и вообще чего угодно</h1>

        <!-- Icon Divider -->
        <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon">
                <i class="fas fa-star"></i>
            </div>
            <div class="divider-custom-line"></div>
        </div>

        <!-- Masthead Subheading -->
        <p class="masthead-subheading font-weight-light mb-0">Учись легко, учись каждый день!
        </p>

    </div>
</header>

<section class="page-section portfolio" id="add-card">
    <div class="container">

        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Добавить новую карточку</h2>

        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon">
                <i class="fas fa-star"></i>
            </div>
            <div class="divider-custom-line"></div>
        </div>

        <div class="row">
            <form method="POST">
                TODO: Тут надо будет отрисовать формочку для добавления карточки
            </form>
        </div>

    </div>
</section>

<!-- Random card Section -->
<section class="page-section bg-primary text-white mb-0" id="random-card">
    <div class="container">

        <!-- Section Heading -->
        <h2 class="page-section-heading text-center text-uppercase text-white">Случайная карточка</h2>

        <!-- Icon Divider -->
        <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon">
                <i class="fas fa-star"></i>
            </div>
            <div class="divider-custom-line"></div>
        </div>

        <!-- Section Content -->
        <div class="row">
            Тут будет контент случайной карточки из БД
        </div>

    </div>
</section>


<footer class="footer text-center">
    <div class="container">
        <div class="row">

            <div class="text-center mx-auto">
                <h4 class="text-uppercase mb-4">About Freelancer (this web page theme)</h4>
                <p class="lead mb-0">Freelancer is a free to use, MIT licensed Bootstrap theme created by
                    <a href="http://startbootstrap.com">Start Bootstrap</a>.
                </p>
            </div>

        </div>
    </div>
</footer>

<!-- Copyright Section -->
<section class="copyright py-4 text-center text-white">
    <div class="container">
        <small>Copyright &copy; {{copy()}}</small>
    </div>
</section>

<!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
<div class="scroll-to-top d-lg-none position-fixed ">
    <a class="js-scroll-trigger d-block text-center text-white rounded" href="#page-top">
        <i class="fa fa-chevron-up"></i>
    </a>
</div>

{%- endblock -%}
{%- block js -%}
<script src="/scripts/freelancer.js"></script>
{%- endblock -%}
