{%- extends "layout.jinja" -%}

{% block title %}
Flash Cards Pet Project - Random Card
{% endblock %}

{% block description %}
Случайная карточка для запоминания
{% endblock %}

{% block css %}
<link rel="stylesheet" href="/styles/public.css" />
{% endblock %}

{% block body %}
<header class="masthead bg-primary text-white text-center">
    <div class="container d-flex align-items-center flex-column">

        <!-- Masthead Avatar Image -->
        <img class="masthead-avatar mb-5" src="images/blacksheep.png" alt="BlackSheep">

        <!-- Section Heading -->
        <h2 class="page-section-heading text-center text-uppercase text-white">Случайная карточка</h2>

        <!-- Icon Divider -->
        <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon">
                <i class="fas fa-star"></i>
            </div>
            <div class="divider-custom-line"></div>
        </div>

        <!-- Section Content -->
        <div class="row">
            <a href="/random-card">Click</a>
            <div class="form-control"><b>Вопрос:</b> {{ question }}</div>
            <div class="form-control" id="answer" style="display:none;"><b>Ответ:</b> {{ answer }}</div>
            <button type="button" class="btn btn-primary" onclick="document.getElementById('answer').style.display='block';">Показать ответ</button>
        </div>
        

    </div>
</header>

<footer class="footer text-center">
    <div class="container">
        <div class="row">

            <div class="text-center mx-auto">
                <h4 class="text-uppercase mb-4">Пет-проект выполнен Никитой Барыкиным в рамках изучения фреймворка Blacksheep</h4>
                <p class="lead mb-0">Связаться в телеграмме: @Barykinnv<br>
                    Фронтенд взят с
                    <a href="http://startbootstrap.com">Start Bootstrap</a>.
                </p>
            </div>

        </div>
    </div>
</footer>

<!-- Copyright Section -->
<section class="copyright py-4 text-center text-white">
    <div class="container">
        <small>Copyright &copy; {{copy()}}</small>
    </div>
</section>

<!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
<div class="scroll-to-top d-lg-none position-fixed ">
    <a class="js-scroll-trigger d-block text-center text-white rounded" href="#page-top">
        <i class="fa fa-chevron-up"></i>
    </a>
</div>

{%- endblock -%}
{%- block js -%}
<script src="/scripts/freelancer.js"></script>
{%- endblock -%}
